.form {
    padding: 5px;
    margin: 2px 0px 2px 0px;
    border: solid 0px grey;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-between;
    background-color: white;
}

.input {
    padding: 10px;
    flex-grow: 1;
}

.form__button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 10px;
    margin-left: 15px;
    cursor: pointer;
}
.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}