.form {
    padding: 5px;
    margin:2px 0px 2px 0px;
    border: solid 0px grey;
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
background-color: white;
}

.input {
    width: 70%;
    padding: 0px;
    padding: 5px 5px 5px 5px;
    
}