.main {
    max-width: 900px;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(211, 211, 211);
}

.header {
    padding: 10px;
    max-width: 900px;
}

.description {
    padding: 0 10px;
    border:  0px;
    margin-top: 2px auto;
    background-color: white;
    font-weight: bold;
   
}